.coloreRosso {
    color: red;
    font-style: initial;
}
.testoCentrato {
    text-align: center;
}
body {
    background-color: bisque;
}
.testoMedio {
    font-size:22px;
}
.coloreGiallo {
    color:yellow;
}
.coloreBlu {
    color:blue;
}
table, th, td{
    border: 1px solid black;
    width: 75%;
    margin: auto;
}
th {
    font-size: 20px;
}
.footer {
    height: 25;
    width:100%;
    background-color: brown;
}
.coloreArancione {
    color: orange;
    float: left;
    margin: 2px;
    padding: 1px;
    position: relative;
}
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.coloreVerde {
    color: green;
}